*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%; }
  @media only screen and (min-width: 37.5em) {
    html {
      font-size: 56%; } }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 59%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 62.5%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #6a6a6a;
  box-sizing: border-box;
  overflow-x: hidden; }

.section-title {
  font-family: 'PeaceSans', sans-serif;
  color: #494949;
  font-size: 6rem;
  font-weight: 400; }
  .section-title--grey {
    color: #9f9f9f; }

.paragraph {
  font-family: 'Open Sans', sans-serif;
  color: #6a6a6a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem; }
  .paragraph--light {
    color: #e7e7e6; }
  .paragraph--big {
    font-size: 1.9rem; }
  .paragraph--italic {
    font-style: italic; }

.heading-small {
  font-family: 'Open Sans', sans-serif;
  color: #6f6f6e;
  font-size: 2.8rem;
  font-weight: 700; }

.u-mb-lg {
  margin-bottom: 6rem; }

.u-mb-md {
  margin-bottom: 3.5rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.u-mb-xl {
  margin-bottom: 8rem; }

.u-ml-xs {
  margin-left: 1rem; }

.centered {
  text-align: center; }

.btn {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
  padding: 1.2rem 3rem;
  border-radius: 200px;
  text-transform: uppercase; }
  .btn--white {
    background-color: #fff;
    color: #242424; }
  .btn--red {
    background-color: #bc2e3a;
    color: #fff; }

.container {
  max-width: 1250px;
  margin: 0 auto; }

.footer {
  background-color: #171717;
  padding: 7rem 1rem 5rem 1rem; }
  @media only screen and (min-width: 75em) {
    .footer {
      background-image: url("../assets/images/bg-footer.svg");
      background-repeat: no-repeat;
      background-position: bottom right; } }
  .footer__container {
    max-width: 1180px;
    margin: 0 auto; }
  .footer__contact {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem; }
    @media only screen and (min-width: 56.25em) {
      .footer__contact {
        flex-direction: row;
        justify-content: space-between; } }
    .footer__contact__item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem; }
      .footer__contact__item:nth-child(1) {
        order: 1; }
      @media only screen and (min-width: 56.25em) {
        .footer__contact__item {
          margin-bottom: 0; }
          .footer__contact__item:nth-child(1) {
            order: 0; } }
    .footer__contact__icon {
      margin: -1rem 2.5rem 0 0; }
    .footer__contact__information .paragraph {
      line-height: 24px; }
    .footer__contact__heading {
      color: #e7e7e6;
      font-size: 2.1rem;
      font-weight: 700;
      margin-bottom: 1rem; }
  .footer__social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 430px;
    margin: 0 auto 3rem auto; }
    .footer__social__link {
      text-decoration: none; }
  .footer .legal {
    padding: 2.5rem 1rem 0 1rem;
    border-top: 2px solid #6f6f6e;
    text-align: center;
    max-width: 740px;
    margin: 0 auto; }

.nav {
  background-color: transparent;
  position: fixed;
  z-index: 1000; }
  .nav__brand {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.43); }
  .nav__hamburger {
    position: fixed;
    top: 3rem;
    left: 3rem;
    width: 4rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s;
    z-index: 1000; }
    .nav__hamburger--active .nav__hamburger__line {
      margin: 0; }
      .nav__hamburger--active .nav__hamburger__line:first-of-type {
        transform: translateY(11px) rotate(-45deg); }
      .nav__hamburger--active .nav__hamburger__line:nth-of-type(2) {
        opacity: 0; }
      .nav__hamburger--active .nav__hamburger__line:last-of-type {
        transform: translateY(-11px) rotate(45deg); }
    .nav__hamburger__line {
      display: block;
      width: 100%;
      height: .5rem;
      border-radius: 20px;
      background-color: #e7e7e6;
      transition: all .3s; }
      .nav__hamburger__line:not(:last-child) {
        margin-bottom: .6rem; }
  .nav__mobile__list {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: -999px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    opacity: 0;
    z-index: -1000;
    transition: all .2s ease-in-out; }
    .nav__mobile__list--active {
      opacity: .95;
      z-index: 100;
      top: 0px; }
      .nav__mobile__list--active .nav__mobile__item {
        display: block; }
  .nav__mobile__item {
    margin-bottom: 5rem;
    display: none; }
  .nav__mobile__link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #e7e7e6;
    font-weight: 700;
    font-size: 3rem;
    text-align: center; }
  .nav__mobile__icons {
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav__mobile__facebook {
    margin-right: 3rem; }

.hero {
  background: url("../assets/images/hero-bg.png") no-repeat center;
  background-size: cover;
  height: 91vh; }
  @media only screen and (min-width: 75em) {
    .hero {
      padding-top: 8rem;
      padding-left: 6rem;
      padding-bottom: 18rem; } }
  @media only screen and (min-width: 90em) {
    .hero {
      padding-top: 10rem;
      padding-left: 8rem; } }
  @media only screen and (min-width: 110em) {
    .hero {
      padding-top: 12rem;
      padding-left: 25rem; } }
  .hero__container {
    display: flex;
    flex-direction: column;
    position: relative; }
    @media only screen and (min-width: 75em) {
      .hero__container {
        display: block; } }
  .hero__main {
    display: inline-block;
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (min-width: 37.5em) {
      .hero__main {
        margin-bottom: 0; } }
  .hero__text-box {
    margin-top: 10rem;
    text-align: center;
    background: url("../assets/images/hero-text-bg.png") center;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.43);
    -webkit-background-clip: text;
    margin-bottom: 3rem; }
    @media only screen and (min-width: 75em) {
      .hero__text-box {
        margin-bottom: 6.5rem; } }
  .hero__heading {
    font-family: 'LemonMilk bold', sans-serif;
    text-transform: uppercase;
    font-size: 6.5rem;
    color: transparent;
    line-height: .84; }
    @media only screen and (min-width: 75em) {
      .hero__heading {
        font-size: 9rem; } }
    .hero__heading--big {
      font-size: 8rem;
      display: block; }
      @media only screen and (min-width: 75em) {
        .hero__heading--big {
          font-size: 16rem; } }
  .hero__image {
    display: block;
    margin: 0 auto;
    height: 410px;
    max-width: 400px; }
    @media only screen and (min-width: 22em) {
      .hero__image {
        height: 450px; } }
    @media only screen and (min-width: 75em) {
      .hero__image {
        margin: 0;
        position: absolute;
        max-width: 100%;
        width: 622.5px;
        height: 675px;
        top: 0;
        right: 0; } }
    @media only screen and (min-width: 90em) {
      .hero__image {
        width: 664px;
        height: 768px;
        top: 30px;
        right: 170px; } }
    @media only screen and (min-width: 110em) {
      .hero__image {
        width: 830px;
        height: 960px;
        top: -40px;
        right: 300px; } }

.about {
  padding: 8rem 1rem 5rem 1rem; }
  @media only screen and (min-width: 75em) {
    .about {
      padding-top: 2rem; } }
  @media only screen and (min-width: 56.25em) {
    .about {
      background: url("../assets/images/rect-about.png") no-repeat top right;
      background-size: 330px 210px; } }
  @media only screen and (min-width: 75em) {
    .about {
      background-size: 825px 710px; } }
  @media only screen and (min-width: 100em) {
    .about {
      background-size: 1100px 600px; } }
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 75em) {
      .about__container {
        flex-direction: row; } }
  .about__text-box {
    max-width: 480px; }
  .about__image {
    display: block;
    max-width: 350px;
    margin-top: 5rem; }
    @media only screen and (min-width: 37.5em) {
      .about__image {
        max-width: 600px; } }
    @media only screen and (min-width: 75em) {
      .about__image {
        max-width: 760px; } }

.features {
  padding: 8rem 1rem 0rem 1rem;
  background-color: #f5f5f5; }
  @media only screen and (min-width: 56.25em) {
    .features {
      background: url("../assets/images/features-bg-left.svg") no-repeat left; } }
  .features .section-title {
    margin-bottom: 6rem; }
    @media only screen and (min-width: 75em) {
      .features .section-title {
        margin-left: -20rem; } }
  .features__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (min-width: 87.5em) {
      .features__list {
        justify-content: flex-start; } }
  .features__item {
    margin-bottom: 10rem;
    max-width: 372px;
    display: flex;
    align-items: flex-start; }
    @media only screen and (min-width: 56.25em) {
      .features__item {
        margin-right: 2rem; } }
    .features__item__text-box {
      margin-top: 1.5rem; }
  .features__icon {
    margin-right: 1.5rem; }

.work {
  padding: 8rem 1rem 20rem 1rem;
  position: relative; }
  .work__triangle {
    display: none; }
    @media only screen and (min-width: 75em) {
      .work__triangle {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 400px 800px 400px 0;
        border-color: transparent #bc2e3a transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2; } }
    @media only screen and (min-width: 87.5em) {
      .work__triangle {
        border-width: 600px 800px 600px 0;
        top: -30%; } }
  @media only screen and (min-width: 75em) {
    .work {
      padding-left: 5rem; } }
  @media only screen and (min-width: 93.75em) {
    .work {
      padding-left: 20rem; } }
  .work__container {
    position: relative;
    z-index: 3; }
  @media only screen and (min-width: 75em) {
    .work__content {
      display: flex; } }
  .work .section-title {
    text-align: center; }
    @media only screen and (min-width: 75em) {
      .work .section-title {
        text-align: left; } }
  .work__text-box {
    text-align: center;
    margin-bottom: 3rem; }
    @media only screen and (min-width: 75em) {
      .work__text-box {
        text-align: left;
        margin-right: 2rem; } }
    @media only screen and (min-width: 93.75em) {
      .work__text-box {
        margin-right: 8rem; } }
  .work__list {
    list-style: none; }
    @media only screen and (min-width: 75em) {
      .work__list {
        display: flex; } }
  .work__item {
    position: relative;
    overflow: hidden;
    min-height: 280px;
    max-width: 330px;
    margin: 0 auto 3rem;
    transform: skew(-30deg, 0); }
    @media only screen and (min-width: 75em) {
      .work__item {
        margin: 0;
        height: 280px;
        width: 260px; } }
    @media only screen and (min-width: 93.75em) {
      .work__item {
        width: 330px; } }
    .work__item--1:before, .work__item--2:before, .work__item--3:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 9%;
      z-index: -1; }
    .work__item--1:before {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/step-1.jpg") no-repeat;
      background-size: cover; }
    .work__item--2:before {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/step-2.jpg") no-repeat;
      background-size: cover; }
    .work__item--3:before {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/step-3.jpg") no-repeat;
      background-size: cover; }
    .work__item__content {
      transform: skew(30deg, 0);
      position: absolute;
      top: 30%;
      left: 25%; }
      @media only screen and (min-width: 37.5em) {
        .work__item__content {
          top: 45%; } }
    .work__item__header, .work__item__number {
      font-family: 'Lato', sans-serif;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase; }
    .work__item__header {
      font-size: 3.8rem; }
    .work__item__number {
      font-size: 5.7rem;
      transform: skew(30deg, 0);
      position: absolute;
      top: 5%;
      right: 30%; }
      @media only screen and (min-width: 37.5em) {
        .work__item__number {
          right: 10%; } }
    .work__item__desc {
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 30px;
      max-width: 150px; }
      @media only screen and (min-width: 37.5em) {
        .work__item__desc {
          max-width: 210px; } }
  .work .paragraph {
    max-width: 290px;
    margin: 0 auto 6rem auto; }
    @media only screen and (min-width: 75em) {
      .work .paragraph {
        width: 29rem;
        margin-left: 1rem; } }

.team {
  padding: 8rem 1rem 8rem 1rem;
  background-color: #f5f5f5;
  position: relative; }
  .team__triangle {
    display: none; }
    @media only screen and (min-width: 56.25em) {
      .team__triangle {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 250px 0 250px 200px;
        border-color: transparent transparent transparent #101010;
        position: absolute;
        left: 0;
        top: -30%; } }
  .team__container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto; }
  .team__list {
    list-style: none; }
  .team__carousel {
    position: relative;
    max-width: 940px;
    height: 225px;
    margin: 0 auto; }
    @media only screen and (min-width: 22em) {
      .team__carousel {
        height: 45rem; } }
  .team__item {
    position: absolute;
    transition: all .5s ease-in-out; }
    .team__item__desc {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -15px; }
    .team__item__heading {
      transform: skew(-45deg);
      text-align: center; }
      .team__item__heading-container {
        background-color: #252525;
        color: #f5f5f5;
        font-size: 2.1rem;
        font-weight: 700;
        transform: skew(45deg);
        padding: .6rem 2.5rem; }
        @media only screen and (min-width: 37.5em) {
          .team__item__heading-container {
            padding: 1.2rem 5rem; } }
    .team__item__subheading {
      text-align: center;
      transform: skew(-45deg);
      max-width: 15rem; }
      .team__item__subheading-container {
        transition: all .5s ease-in-out;
        margin-left: 3rem;
        margin-bottom: 2rem;
        background-color: #bc2e3a;
        color: #f5f5f5;
        font-size: 1.8rem;
        font-style: italic;
        transform: skew(45deg);
        padding: .4rem 2.5rem; }
        @media only screen and (min-width: 37.5em) {
          .team__item__subheading-container {
            padding: .4rem 3.5rem; } }
    .team__item--right .team__item__subheading-container, .team__item--hidden .team__item__subheading-container, .team__item--left .team__item__subheading-container {
      opacity: 0; }
    .team__item--left {
      opacity: 0;
      top: 50%;
      left: 0%;
      transform: translateY(-50%) scale(0.75); }
      @media only screen and (min-width: 56.25em) {
        .team__item--left {
          opacity: 0.43; } }
    .team__item--center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      z-index: 5; }
    .team__item--right {
      opacity: 0;
      top: 50%;
      left: 100%;
      transform: translate(-100%, -50%) scale(0.75); }
      @media only screen and (min-width: 56.25em) {
        .team__item--right {
          opacity: 0.43; } }
    .team__item--hidden {
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.75); }
  .team__image {
    background-position: center;
    height: 225px;
    margin: -100px;
    transform: rotate(45deg); }
    @media only screen and (min-width: 22em) {
      .team__image {
        width: 45rem;
        height: 45rem;
        margin: -75px; } }
    .team__image__wrapper {
      box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.22);
      width: 150px;
      height: 150px;
      transform: rotate(-45deg);
      overflow: hidden;
      border: 6px solid #fff; }
      @media only screen and (min-width: 22em) {
        .team__image__wrapper {
          width: 30rem;
          height: 30rem;
          border: 1.8rem solid #fff; } }
    .team__image--1 {
      background: url("../assets/images/jimmy-doe.jpg") no-repeat; }
    .team__image--2 {
      background: url("../assets/images/jessica-doe.jpg") no-repeat; }
    .team__image--3 {
      background: url("../assets/images/jinny-snow.jpg") no-repeat; }
    .team__image--4 {
      background: url("../assets/images/john-doe.jpg") no-repeat; }
  .team__navigation__arrow-left {
    position: absolute;
    top: 80%;
    left: 0%;
    cursor: pointer; }
    @media only screen and (min-width: 75em) {
      .team__navigation__arrow-left {
        top: 50%; } }
  .team__navigation__arrow-right {
    position: absolute;
    top: 80%;
    right: 0%;
    cursor: pointer; }
    @media only screen and (min-width: 75em) {
      .team__navigation__arrow-right {
        top: 50%; } }

.testimonials {
  background-color: #fcfcfc;
  padding: 8rem 1rem 15rem 1rem;
  position: relative; }
  .testimonials__triangle--small {
    display: none; }
    @media only screen and (min-width: 56.25em) {
      .testimonials__triangle--small {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 300px 300px 0;
        border-color: transparent #101010 transparent transparent;
        position: absolute;
        top: 0;
        right: 0; } }
  .testimonials__triangle--big {
    display: none; }
    @media only screen and (min-width: 75em) {
      .testimonials__triangle--big {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 500px 0 500px 200px;
        border-color: transparent transparent transparent #bc2e3a;
        position: absolute;
        top: -15%;
        left: 0; } }
    @media only screen and (min-width: 100em) {
      .testimonials__triangle--big {
        border-width: 500px 0 500px 500px; } }
  .testimonials .section-title {
    text-align: center; }
    @media only screen and (min-width: 75em) {
      .testimonials .section-title {
        margin: 0 0 10rem -50rem; } }
  .testimonials__container {
    max-width: 1200px;
    margin: 0 auto; }
  @media only screen and (min-width: 75em) {
    .testimonials__flex {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .testimonials__image {
    background-position: center;
    height: 250px;
    margin: -100px;
    transform: rotate(45deg);
    background: url("../assets/images/jinny-snow.jpg") no-repeat; }
    @media only screen and (min-width: 37.5em) {
      .testimonials__image {
        width: 45rem;
        height: 45rem;
        margin: -75px; } }
    .testimonials__image-container {
      margin: 8rem auto;
      box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.22);
      width: 150px;
      height: 150px;
      transform: rotate(-45deg);
      overflow: hidden;
      border: 6px solid #fff; }
      @media only screen and (min-width: 37.5em) {
        .testimonials__image-container {
          width: 30rem;
          height: 30rem;
          border: 1.8rem solid #fff; } }
      @media only screen and (min-width: 75em) {
        .testimonials__image-container {
          margin: 0 8rem 4rem 0; } }
  .testimonials__text {
    display: flex;
    align-items: flex-start;
    max-width: 740px;
    margin: 0 auto 3.5rem auto; }
  .testimonials__quote {
    margin-right: 1.5rem;
    margin-top: -1.5rem; }
  .testimonials__heading {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center; }
    @media only screen and (min-width: 75em) {
      .testimonials__heading {
        text-align: left;
        margin-left: 8.5rem; } }
  .testimonials__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 0 auto; }
    @media only screen and (min-width: 75em) {
      .testimonials__list {
        justify-content: flex-start;
        margin: 5rem 0 0 8rem; } }
  .testimonials__item:not(:last-child) {
    margin-right: 1rem; }
  .testimonials__client {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
