$tablet-sm: 37.5em;
$tablet-lg: 56.25em;
$desktop: 75em;

$color-primary: #bc2e3a;

$color-grey-1: #6a6a6a;
$color-grey-2: #6f6f6e;
$color-grey-3: #9f9f9f;

$color-grey-dark-1: #494949;
$color-grey-dark-2:#424240;

$color-black-1: #000000;
$color-black-2: #171717;
$color-black-3: #252525;
$color-black-4: #242424;


$color-light: #e7e7e6;
$color-white: #f5f5f5;