.nav {
  background-color: transparent;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 6rem;
  transition: background-color .2s ease-in-out;

  &--scrolled {
    background-color: $color-primary;

    .nav__brand {
      font-size: 3rem;
    }
  }

  @media only screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 9rem 3em 6.5rem;
  }

  &__desktop {
    &__list {
      list-style: none;
      display: none;

      @media only screen and (min-width: $desktop) {
        display: flex;
      }
    }

    &__item {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
      &:nth-child(7){
        margin-right: 5.5rem;
      }
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      color: $color-light;
      font-weight: 700;
      font-size: 1.5rem;
    }

    &__icon {
      &:not(:last-child){
        margin-right: 2.5rem;
      }
    }
  }

  &__brand {
    display: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    color: $color-light;
    transition: all .3s ease-in-out;

    @media only screen and (min-width: $desktop) {
      display: block;
    }
  }

  &__hamburger {
    position: absolute;
    top: 2rem;
    left: 3rem;
    width: 4rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s;
    z-index: 1000;

    @media only screen and (min-width: $desktop) {
      display: none;
    }

    &--active {

      .nav__hamburger__line {
        margin: 0;
        &:first-of-type {
          transform: translateY(11px) rotate(-45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          transform: translateY(-11px) rotate(45deg);
        }
      }
    }

    &__line {
      display: block;
      width: 100%;
      height: .5rem;
      border-radius: 20px;
      background-color: $color-light;
      transition: all .3s;
      
      &:not(:last-child) {
        margin-bottom: .6rem;
      }
    }
  }

  &__mobile {
    &__list {
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: -999px;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $color-black-4;
      opacity: 0;
      z-index: -1000;
      transition: all .2s ease-in-out;

      @media only screen and (min-width: $desktop) {
        display: none;
      }

      &--active {
        opacity: .95;
        z-index: 100;
        top: 0px;

        .nav__mobile__item {
          display: block;
        }
      }
    }

    &__item {
      margin-bottom: 2rem;
      display: none;
    }

    &__link {
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      color: $color-light;
      font-weight: 700;
      font-size: 3rem;
      text-align: center;
    }

    &__icons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__facebook {
      margin-right: 3rem;
    }
  }
}