.about {
  padding: 8rem 1rem 5rem 1rem;

  @media only screen and (min-width: $desktop) {
    padding-top: 2rem;
  }

  @media only screen and (min-width: $tablet-lg) {
    background: url('../assets/images/rect-about.png') no-repeat top right;
    background-size: 330px 210px;
  }

  @media only screen and (min-width: $desktop) {
    background-size: 825px 710px;
  }

  @media only screen and (min-width: 100em) {
    background-size: 1100px 600px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__text-box {
    max-width: 480px; 
  }

  &__image {
    display: block;
    max-width: 350px;
    margin-top: 5rem;

    @media only screen and (min-width: $tablet-sm) {
      max-width: 600px;
    }

    @media only screen and (min-width: $desktop) {
      max-width: 760px;
    }
  }
}