.team {
  padding: 8rem 1rem 8rem 1rem;
  background-color:  #f5f5f5;

  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__list {
    list-style: none;
  }

  &__item {

  }

  &__image {
    border: 1.8rem solid #fff;
    transform: rotate(45deg);

    &__container {
      position: relative;
    }
  }
}