.team {
  padding: 8rem 1rem 8rem 1rem;
  background-color:  #f5f5f5;

  &__container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__list {
    list-style: none;
  }

  &__carousel {
    position: relative;
    max-width: 940px;
    height: 225px;
    margin: 0 auto;

    @media only screen and (min-width: 22em) {
      height: 45rem;
    }
  }

  &__item {
    position: absolute;
    transition: all .5s ease-in-out;

    &__desc {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -25px;
    }

    &__heading {
      transform: skew(-45deg);
      text-align: center;

      &-container {
        background-color: $color-black-3;
        color: $color-white;
        font-size: 2.1rem;
        font-weight: 700;
        transform: skew(45deg);
        padding: .6rem 2.5rem;

        @media only screen and (min-width: $tablet-sm) {
          padding: 1.2rem 5rem;
        }
      }
    }

    &__subheading {
      text-align: center;
      transform: skew(-45deg);
      max-width: 15rem;

      &-container {
        transition: all .5s ease-in-out;
        margin-left: 3rem;
        margin-bottom: 2rem;
        background-color: $color-primary;
        color: $color-white;
        font-size: 1.8rem;
        font-style: italic;
        transform: skew(45deg);
        padding: .4rem 2.5rem;

        @media only screen and (min-width: $tablet-sm) {
          padding: .4rem 3.5rem;
        }
      }
    }

    &--right, &--hidden, &--left {
      .team__item__subheading-container {
        opacity: 0;
      }
    }

    &--left {
      opacity: 0;
      @media only screen and (min-width: $tablet-lg) {
        opacity: 0.43;
      }
      top: 50%;
      left: 0%;
      transform: translateY(-50%) scale(.75);
    }

    &--center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      z-index: 5;
    }

    &--right {
      opacity: 0;
      @media only screen and (min-width: $tablet-lg) {
        opacity: 0.43;
      }
      top: 50%;
      left: 100%;
      transform: translate(-100%, -50%) scale(.75);
    }

    &--hidden {
      // opacity: 0;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(.75);
    }
  }

  &__image {
    background-position: center;
    height: 225px;
    margin: -100px;
    transform: rotate(45deg);

    @media only screen and (min-width: 22em) {
      width: 45rem;
      height: 45rem;
      margin: -75px;
    }

    &__wrapper {
      box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.22);
      width: 150px;
      height: 150px;
      transform: rotate(-45deg);
      overflow: hidden;
      border: 6px solid #fff;

      @media only screen and (min-width: 22em) {
        width: 30rem;
        height: 30rem;
        border: 1.8rem solid #fff;
      }
    }

    &--1 {
      background: url('../assets/images/jimmy-doe.jpg') no-repeat;
    }

    &--2 {
      background: url('../assets/images/jessica-doe.jpg') no-repeat;
    }

    &--3 {
      background: url('../assets/images/jinny-snow.jpg') no-repeat;
    }

    &--4 {
      background: url('../assets/images/john-doe.jpg') no-repeat;
    }
  }

  &__navigation {

    &__arrow-left {
      position: absolute;
      top: 80%;
      left: 0%;
      cursor: pointer;

      @media only screen and (min-width: $desktop) {
        top: 50%;
      }
    }

    &__arrow-right {
      position: absolute;
      top: 80%;
      right: 0%;
      cursor: pointer;

      @media only screen and (min-width: $desktop) {
        top: 50%;
      }
    }
  }
}