.testimonials {
  background-color: #fcfcfc;
  padding: 8rem 1rem 15rem 1rem;
  position: relative;

  &__triangle--small {
    display: none;
    @media only screen and (min-width: $tablet-lg) {
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 300px 300px 0;
      border-color: transparent #101010 transparent transparent;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__triangle--big {
    display: none;
    @media only screen and (min-width: $desktop) {
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 500px 0 500px 200px;
      border-color: transparent transparent transparent $color-primary;
      position: absolute;
      top: -15%;
      left: 0;
    }
    @media only screen and (min-width: 100em) {
      border-width: 500px 0 500px 500px;
    }
  }

  .section-title {
    text-align: center;

    @media only screen and (min-width: $desktop) {
      margin: 0 0 10rem -50rem;
    }
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__flex {
    @media only screen and (min-width: $desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
   
  }

  &__image {
    background-position: center;
    height: 250px;
    margin: -100px;
    transform: rotate(45deg);

    background: url('../assets/images/jinny-snow.jpg') no-repeat;

    @media only screen and (min-width: $tablet-sm) {
      width: 45rem;
      height: 45rem;
      margin: -75px;
    }

    &-container {
      margin: 8rem auto;
      box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.22);
      width: 150px;
      height: 150px;
      transform: rotate(-45deg);
      overflow: hidden;
      border: 6px solid #fff;

      @media only screen and (min-width: $tablet-sm) {
        width: 30rem;
        height: 30rem;
        border: 1.8rem solid #fff;
      }

      @media only screen and (min-width: $desktop) {
        margin: 0 8rem 4rem 0;
      }
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;
    max-width: 740px;
    margin: 0 auto 3.5rem auto;
  }

  &__quote {
    margin-right: 1.5rem;
    margin-top: -1.5rem;
  }

  &__heading {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;

    @media only screen and (min-width: $desktop) {
      text-align: left;
      margin-left: 8.5rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 0 auto;

    @media only screen and (min-width: $desktop) {
      justify-content: flex-start;
      margin: 5rem 0 0 8rem;
    }
  }

  &__item:not(:last-child) {
    margin-right: 1rem;
  }

  &__client {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}