// REWRITE WITH NEW ASSETS!!!!
.work {
  padding: 8rem 1rem 20rem 1rem;

  @media only screen and (min-width: $desktop) {
    padding-left: 20rem;
  }

  &__container {

  }

  &__content {
    @media only screen and (min-width: $desktop) {
      display: flex;
    }
  }

  .section-title {
    text-align: center;
    @media only screen and (min-width: $desktop) {
      text-align: left;
    }
  }

  &__text-box {
    text-align: center;
    margin-bottom: 3rem;

    @media only screen and (min-width: $desktop) {
      text-align: left;
      margin-right: 8rem;
    }
  }

  &__list {
    list-style: none;

    @media only screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    min-height: 280px;
    max-width: 330px;
    margin: 0 auto 3rem;
    transform: skew(-30deg, 0);

    @media only screen and (min-width: $desktop) {
      margin: 0;
      height: 280px;
      width: 330px;
    }

    &--1:before, &--2:before, &--3:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 9%;
      z-index: -1;
    }

    &--1:before {
      background: linear-gradient(rgba(#000, .5), rgba(#000, .5)), url('../assets/images/step-1.jpg') no-repeat;
      background-size: cover;
    }

    &--2:before {
      background: linear-gradient(rgba(#000, .5), rgba(#000, .5)), url('../assets/images/step-2.jpg') no-repeat;
      background-size: cover;
    }

    &--3:before {
      background: linear-gradient(rgba(#000, .5), rgba(#000, .5)), url('../assets/images/step-3.jpg') no-repeat;
      background-size: cover;
    }

    &__content {
      transform: skew(30deg, 0);
      position: absolute;
      top: 30%;
      left: 25%;

      @media only screen and (min-width: $tablet-sm) {
        top: 45%;
      }
    }

    &__header, &__number {
      font-family: 'Lato', sans-serif;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__header {
      font-size: 3.8rem;
    }

    &__number {
      font-size: 5.7rem;
      transform: skew(30deg, 0);
      position: absolute;
      top: 5%;
      right: 30%;

      @media only screen and (min-width: $tablet-sm) {
        right: 10%;
      }
    }

    &__desc {
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 30px;
      max-width: 150px;

      @media only screen and (min-width: $tablet-sm) {
        max-width: 210px;
      }
    }
  }

  .paragraph {
    max-width: 290px;
    margin: 0 auto 6rem auto;

    @media only screen and (min-width: $desktop) {
      width: 29rem;
      margin-left: 1rem;
    }
  }
}