@font-face {
  font-family:"LemonMilk bold";
  src:url("LemonMilkbold.eot?") format("eot"),url("LemonMilkbold.woff") format("woff"),url("LemonMilkbold.ttf") format("truetype"),url("LemonMilkbold.svg#LemonMilkbold") format("svg");font-weight:normal;font-style:normal;
}

@font-face {
  font-family:"PeaceSans";
  src:url("Peace_Sans.eot?") format("eot"),url("Peace_Sans.woff") format("woff"),url("Peace_Sans.ttf") format("truetype"),url("Peace_Sans.svg#PeaceSans") format("svg");font-weight:normal;font-style:normal;
}