.section-title {
  font-family: 'PeaceSans', sans-serif;
  color: $color-grey-dark-1;
  font-size: 6rem;
  font-weight: 400;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  color: $color-grey-1;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}