.u-mb-lg {
  margin-bottom: 6rem;
}

.u-mb-md {
  margin-bottom: 3.5rem;
}

.u-mb-sm {
  margin-bottom: 2rem;
}

.u-mb-xl {
  margin-bottom: 8rem;
}

.u-ml-xs {
  margin-left: 1rem;
}

.centered {
  text-align: center;
}